<% title "The Latest" %>

<h2>The latest strips&hellip;</h2>

<% if @comics.nil? %>
<div class="container">
  <p>No comics for your daily consumption&mdash;yet. <strong>Check back later.</strong></p>
</div>
<% else %>
  <% @comics.each do |comic| %>
  <% if latest = comic.strips.find(:last) %>
  <article class="strip">
    <div class="image"><a href="<%= latest.permalink %>"><img src="<%= latest.image_url %>" alt="<%= latest.description %>" <%= latest.extra ? "title=\"#{latest.extra}\"" : '' %> /></a></div>
    <h3><a href="<%= latest.permalink %>"><%= latest.description %></a></h3>
    <div class="container meta">
      <span>posted <span class="posted"><%= relative_date(comic.strips.find(:last).posted_on) %></span> on <%= link_to comic.name, comic.site_url, :class => 'site' %></span>
    </div>
  </article>
  <% end %>
  <% end %>
<% end %>
