<% title "The latest from #{@comic.name}" %>

<div class="container">
  <h2><%= @comic.name %></h2>
  <% @comic.strips.each do |strip| %>
  <article class="strip <%= name_slug(strip.comic) %>">
    <img src="<%= strip.image_url %>" alt="<%= strip.description %>" />
    
    
    <span class="posted">posted <%= relative_date(strip.posted_on) %></span>
  </article>
  <% end %>
</div>