<% title "The latest from #{@comic.site_name}" %>
 
<h2><%= @comic.site_name %></h2>
<article class="strip">
  <div class="image">
    <a href="<%= @comic.permalink %>"><img src="<%= @comic.image_url %>" alt="<%= @comic.description %>" /></a>
  </div>
  <h3><a href="<%= @comic.permalink %>"><%= @comic.description %></a></h3>
  <div class="container meta">
    <%= "<p>#{@comic.extra ? @comic.extra : ''}</p>" %>
    <span>posted <span class="posted"><%= relative_date(@comic.posted_on) %></span> on <%= link_to @comic.site_name, @comic.site_url.to_s, :class => 'site' %></span>
  </div>
</article>
