<% title "The latest from #{@comic.name}" %>

<h2><%= @comic.name %></h2>
<% if @strip.nil? %>
<div class="container">
  <p>No strips have been pulled in for this comic yet.</p>
</div>
<% else %>
<article class="strip <%= name_slug(@strip.comic) %>">
  <div class="image">
    <a href="<%= @strip.permalink %>"><img src="<%= @strip.image_url %>" alt="<%= @strip.description %>" /></a>
  </div>
  <h3><a href="<%= @strip.permalink %>"><%= @strip.description %></a></h3>
  <div class="container meta">
    <%= "<p>#{@strip.extra ? @strip.extra : ''}</p>" %>
    <span>posted <span class="posted"><%= relative_date(@strip.posted_on) %></span> on <%= link_to @strip.comic.name, @strip.comic.site_url, :class => 'site' %></span>
  </div>
</article>
<% end %>
