<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= (title = yield(:title)) ? "#{title} &mdash; " : '' %>The Comical</title>
	<%= stylesheet_link_tag 'reset.css', :cache => true %>
	<%= stylesheet_link_tag 'main.css', :cache => true %>
</head>

<body id="<%= page_id %>">

<header>
  <div class="container">
    <h1><%= link_to 'The Comical', root_path %></h1>
    <span class="tagline">Your daily comic strip fix. <strong>Fast.</strong></span>
  </div>
</header>

<div id="content">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <div class="copyright">
      <span class="comics">All comics &copy; their respective authors.</span>
      <span class="application">&ldquo;Comical&rdquo; application owned and maintained by Brett Buddin.</span>
    </div>
  </div>
</footer>

</body>
</html>
