<!DOCTYPE html>
 
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <% title = yield(:title) -%>
	<title><%= (!title.empty?) ? "#{title} &mdash; ".html_safe : '' %>Comic Strip Fix</title>
    <%= stylesheet_link_tag 'reset.css' %>
    <%= stylesheet_link_tag 'main.css' %>
</head>
 
<body id="<%= page_id %>">

<%= render :partial => "layouts/shared/header" %>
 
<div id="content">
  <%= yield %>
</div>
 
<%= render :partial => "layouts/shared/footer" %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13181242-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>
</body>
</html>
